*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.bg-dark1{
  background-color: #00162b;
}

.bg-dark2{
  background-color: #000f1e;
}

.span-red{
  color: #db0a40;
}